// set custom hex colors
$siteBgColorCustom: #efd3ab;
$sidebarBgColorCustom: #dbdbd2;
$textColorCustom: #0a0a0a;
$sidebarTextColorCustom: #0a0a0a;
$headlineColorCustom: #6e3114ff;
$headingColorCustom: #6e3114;
$bodyLinkColorCustom: #6e3114ff;
$navLinkColorCustom: #0a0a0a;
$sidebarLinkColorCustom: #6e3114;
$footerTextColorCustom: #232f2f;
$buttonTextColorCustom: #f7f7f4;
$buttonHoverTextColorCustom: #6e3114;
$buttonBgColorCustom: #677a74;
$buttonHoverBgColorCustom: #dbdbd2;
$borderColorCustom: #36748aff;
